.header{
  background-color: rgba(255,238,173,.65);border:1px dotted rgba(255,238,173,.75);display:block;height:850px;margin:auto;width:540px;top:0;}
.headline{color:rgba(255,111,105,.85);display:inline;font-size:48px;}
